{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to the demo site</h1>
      <p>This site is intended to show how easy it is to integrate with steambots.io.</p>
      <p>Feel free to deposit and withdraw items, and explore the <a href="https://github.com/crimson-digital/demo.steambots.io">source code</a> to understand how it works. This code is not considered best practices and it isn't production ready - we've just tried to keep it nice and simple so it's easy to understand.</p>
      <p>Any items left on the system for more than a couple of weeks will be removed and won't be retrievable.</p>
    </div>
  </div>
</div>
{% endblock %}